h1{color:#F8F8FF;
  font-size: 40px;
  line-height:26px;
  font-weight:600;}

h2{color:#D3D3D3;
  font-size: 30px;
  line-height:20px;
  font-weight:normal}

h3{font-size: 25px;
  line-height: 14px;
  font-weight: bold;
  color: #A9A9A9;}

li{background-color:#808080;
    padding-top: 1rem;
    text-align: center;
    margin-right: 30px;
    width: 150px;
    height: 2rem;
    filter: drop-shadow(3px 3px 3px #A9A9A9);
    float: none;
    margin-bottom: 120px;

  }
li:hover {background-color: white;
         transition: background-color 0.3s, color 0.3s;
}

li:hover a {
  color: black;
  transition: color 0.3s;
  display: block;
}

  ul{
    list-style-type: none;
  }

  nav{margin-bottom: 2rem;
      position: sticky;
      float: left;
      z-index: 999;
  }

main{width: auto;
     margin-left: 20%;
     position: sticky;
   }

header{margin: 0;
    padding: 0;
    font-size: 100%;}

aside{border-left: 2px solid white;}


body{background-image: url("../images/DeepSpace.jpg");
    background-size: 300%;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

html{font-family: "Copperplate", "Helvetica Condensed";
}

p{font-size:18px;
  line-height:20px;
  color:#808080;
  font-weight:300;
  width:960px;
  font-family: "Helvetica Condensed"
}

figure{
      margin:0 20px 20px 0;
      float:right;
    }
.mezelf{border-radius: 50%;
        border: black;
        filter: drop-shadow(3px 3px 3px #A9A9A9);
}

.mixcloud{animation: rotation 8s infinite linear;}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

a{
  text-decoration: none;
  color: white;
}

.githublink{color: #808080;}

.toneellink{color: #808080;}

.mixcloudlink{color: #808080;}

.thomasmore:hover{color: black;
         transition: color 0.3s, color 0.3s;}

.thomasmore:hover a{color: black;
transition: color 0.3s;
}

.githublink:hover{color: white;
         transition: color 0.3s, color 0.3s;}

.githublink:hover a{color: white;
transition: color 0.3s;
}

.toneellink:hover{color: white;
         transition: color 0.3s, color 0.3s;}

.toneellink:hover a{color: white;
transition: color 0.3s;
}

.mixcloudlink:hover{color: white;
         transition: color 0.3s, color 0.3s;}

.mixcloudlink:hover a{color: white;
transition: color 0.3s;
}
